/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,
            #009688,
            #009688 15%,
            #d2dbdc 15%,
            #d2dbdc 100%
    );
}

/* UTILITIES */
.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.align-c {
    align-items: center;
}

.align-s {
    align-items: flex-start;
}

.align-e {
    align-items: flex-end;
}

.justify-c {
    justify-content: center;
}


.justify-s {
    justify-content: flex-start;
}


.justify-e {
    justify-content: flex-end;
}

.justify-btw {
    justify-content: space-between;
}

/* LAYOUT */
#boolzapp {
    height: 95%;
    width: 80%;
    background: #999;
}

/* Sidebar */
aside {
    height: 100%;
    width: 35%;
}

.aside-top {
    background: #eaeaea;
    height: 75px;
    padding: 10px;
}

.aside-top .avatar img {
    width: auto;
    height: 55px;
    border-radius: 50%;
}

.options i {
    font-size: 24px;
    color: #b1b1b1;
    margin-right: 20px;
}

.aside-notifications {
    background: #9fd8f9;
    height: 85px;
    padding: 15px 20px;
}

.aside-notifications i {
    padding: 15px 12px;
    font-size: 24px;
    color: #9fd8f9;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    
}

.aside-notifications div a {
    color: #666;
    font-weight: 700;
    font-size: 14px;
}

.aside-search {
    background: #fafafa;
    height: 55px;
    padding: 8px;
}

.aside-search div {
    width: 100%;
    border: 1px solid #eee;
}

.aside-search label {
    flex-basis: 85px;
    text-align: center;
    background: #fff;
    height: 36px;
    border-right: 1px solid #eee;
}

.aside-search label i {
    color: #b1b1b1;
    font-size: 20px;
    line-height: 36px;
}

.aside-search input {
    flex-grow: 1;
    height: 36px;
    padding: 10px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.aside-list {
    background: #ade;
    flex-grow: 1;
    padding: 10px;
}

.list-open {
    height: 85px;
    background: #abc;
}

